.bs-example {
    height: 350px;
}

.centerlook {
    padding-left: 400px;
    font-weight: bold;
    width: 1000px;
}

.error {
    padding-left: 400px;
    font-weight: bold;
    width: 1000px;
    color: red;
}

.loginbtn {
    padding-left: 500px;
    
}
