@{
    ViewBag.Title = "Welcome To Ticket Booking System";
}

<div class="jumbotron">
    <h1>Ticket Booking</h1>
    <p class="lead">This is a system of online movie ticket booking</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Enjoy our system and make your life easy.
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Benifits</h2>
        <p>It may save your time and also hastle free.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Thanks for using</h2>
        <p>Just simplify your life.</p>
       
    </div>
</div>